@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.country {
    margin: auto;
    padding: 1% 2%;
    width: 30%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 5%;
    cursor: pointer;
}
.country:hover {
    box-shadow: 5px 5px 15px 5px black;
}

.country p {
    color: gray;
}
.country h2 {
    font-weight: bold;
    color: black;
}

.country div {
    align-items: flex-start;
}

.country img {
    width: 100%;
    border-radius: 3%;
    margin-top: 3%;
}

.MyDiv {
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding-top: 1px;
}

:root {
    --heightNav: 90px;
}

header {
    margin-bottom: var(--heightNav);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
nav.top {
    background-color: #f7f7f7;
}
nav.scrolling {
    background-color: rgba(000, 000, 000, 0.8);
}

nav span {
    margin: 0 25px;
}

.container-links {
    background-color: #fff;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}

.link {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.link:hover {
    background-color: grey;
    color: #fff;
}

.centerInput {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
.centerInput select {
    padding: 5px;
    margin: 0 10px;
}
.searchInput {
    padding: 5px 15px;
    width: 300px;
    outline: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid grey;
    color: rgb(118, 118, 118);
    font-weight: 600;
    padding: 20px;
    z-index: -1;
}

.error {
    display: flex;
    justify-content: center;
}

.error div {
    margin: 0 25px;
}

.error h1 {
    font-size: 145px;
}

.error h3 {
    font-size: 32px;
}

/* Page FAQ */

.faq-title {
    position: relative;
    padding-top: 20px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 3px;
}
.faq-title::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #e91e63;
    bottom: -10px;
    margin-left: -30px;
}

.faq-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    flex-direction: column;
    max-width: 740px;
    margin: auto;
}

.faq-question {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.faq-question-header {
    cursor: pointer;
    padding: 15px;
    border-bottom: 2px dashed #cee1f8;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.faq-question-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}

.faq-question-number {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #e91e63;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
    padding-top: 4px;
}

.faq-question-answer {
    margin: 30px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.7);
}
.faq-question-answer.display {
    display: block;
}
.faq-question-answer.hide {
    display: none;
}
